#anabaslik {
    color: aqua;
    text-align: center;
    font-size: 55px;
    width: 75%;
    float: right;
}

#sidebar {
    padding: 10px;
    border: 3px solid red;
    background-color: wheat;
    height: 1000px;
    float: left;
    width: 20%;

}

body {
    background-color: black;
}

#giris_yazisi {
    color: chartreuse ;
    float: right;
    padding: 10px;
    width: 75%;
}

a:hover{
    background-color: purple;
    color: greenyellow;
}

a {
    text-decoration: none;
}